.settings
WEB_OUT/
.idea
.project
*.class
ant/
WinRAR.exe
server_version.txt
badpersion.mock/
webclient/
*.iml
*.classpath
*.jar
**/target/
*.log
**/*.jsp
core/test-output/
web/test-output/
/target/
.svn/
server/social/tools/soft/
docs/
client/
common/AtlasRes
common/sound
.dist/
bin/
pkg/